  /*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
  #main {
      margin: 0 auto;
      padding: 0;
  }

  body {
      font-family: "DM Sans";
      scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
      display: none;
  }

  a {
      color: #062a87;
      text-decoration: none;
  }

  a:hover {
      color: #062a87;
      text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
      font-family: "DM Sans";
      color: #444444;
  }


  /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
  section {
      padding: 50px 0;
  }

  .section-title {
      padding: 20px 0;
      position: relative;
  }

  .section-title h2 {
      text-align: center;
      font-family: "DM Sans";
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 2px;
      padding-bottom: 0;
      color: #444444;
      position: relative;
      z-index: 1;
  }

  .section-title h3 {
      font-family: "DM Sans";
      font-size: 30px;
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase;
      letter-spacing: 2px;
  }

  .section-title p {
      font-size: 17px;
      font-family: "DM Sans";
      margin-bottom: 0;
      position: relative;
      z-index: 2;
      text-align: justify;
  }

  .section-title span {
      position: absolute;
      top: 30px;
      color: #eef0f2;
      left: 0;
      right: 0;
      z-index: 1;
      font-weight: 700;
      font-size: 52px;
      text-transform: uppercase;
      line-height: 0;
  }

  @media (max-width: 575px) {
      .section-title h2 {
          font-size: 28px;
          margin-bottom: 15px;
      }

      .section-title h3 {
          text-align: center;
      }

      .section-title span {
          font-size: 38px;
      }
  }

  /*--------------------------------------------------------------
# About 
--------------------------------------------------------------*/
  .about .content p {
      font-size: 16px;
      text-align: justify;
  }

  .about .content ul {
      list-style: none;
      padding: 0;
  }

  .about .img-fluid {
      background-position: top center;
      background-size: contain;
      position: relative;
      width: 300px;
      height: 300px;
  }

  .about {
      opacity: 0;
      transform: translateY(100px);
      transition: opacity 1s ease, transform 1s ease;
  }

  .about.animated {
      opacity: 1;
      transform: translateY(0);
  }


  @media (max-width: 476px) {
      .about {
          width: 100%;
          height: auto;
          text-align: justify;
          padding: 10px;
      }

      .about .image {
          margin: 0 auto;
          display: block;
          width: 300px;
          height: 300px;
          top: 0px;
      }

      .img-fluid {
          margin-bottom: 20px;
      }

  }
