  /*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
  #main {
    margin: 0 auto;
    padding: 0;
  }

  body {
    font-family: "DM Sans";
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  a {
    color: #062a87;
    text-decoration: none;
  }

  a:hover {
    color: #062a87;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: "DM Sans";
    color: #444444;
  }


  /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
  section {
    padding: 50px 0;
  }

  .section-title {
    padding: 20px 0;
    position: relative;
  }

  .section-title h2 {
    text-align: center;
    font-family: "DM Sans";
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 2px;
    padding-bottom: 0;
    color: #444444;
    position: relative;
    z-index: 1;
  }

  .section-title h3 {
    font-family: "DM Sans";
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .section-title p {
    font-size: 17px;
    font-family: "DM Sans";
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    text-align: justify;
  }

  .section-title span {
    position: absolute;
    top: 30px;
    color: #eef0f2;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
  }

  @media (max-width: 575px) {
    .section-title h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }

    .section-title h3 {
      text-align: center;
    }

    .section-title span {
      font-size: 38px;
    }
  }

  /*--------------------------------------------------------------
# Contact Me
--------------------------------------------------------------*/
  .contact .info-box {
    background-color: white;
    color: #3b434a;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .contact {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease, transform 1s ease;
  }

  .contact.animated {
    opacity: 1;
    transform: translateY(0);
  }

  .contact .info-box h3 {
    font-size: 26px;
    color: #444444;
    margin: 10px 0;
  }

  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }

  .contact .social-links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }

  .contact .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #444444;
    line-height: 1;
    margin: 0 8px;
    transition: 0.3s;
    padding: 16px;
    border-radius: 50%;
    border: 1px solid #444444;
  }

  .contact .social-links a:hover {
    color: #fff;
    border-color: #8B322C;
    background: #8B322C;
  }

  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }